@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Roboto:300);

#container {
	width: auto;
	height: 100vh;
	padding: 10px;
	font-family: Roboto;
	padding-right: 15px;
}

#googleMap {
	float: left;
	width: 74%;
	height: 90%;
}

#right {
	float: right;
	width: 24%;
	height: 90%;
	background-color: #E8E8E8;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .3);
}

#header {
	background-color: #3498db;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .3);
	height: 60px;
}

#title {
	font-size: 2.5em;
	color: #fff;
	position: relative;
	top: 15%;
	left: 8%;
}

#noticication {
	
	 overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 30px;
	height: auto;
}

#noticication .object {
	width:85%;
	height:auto;
	margin:10px;
	padding-top: 15px;
	padding-left: 15px;
	
	background-color: #F4F4F4;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .3);
	min-height:40px;

}
#noticication .object .message{
	float:center;
	height:auto;
	padding-left: 40px;
}

#noticication .object .icon {
	float:left;
	height:auto;
}
